.temple {
  background-image: url('/assets/img/bg_temple.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
}

.box-temple {
  color: #fff;
  width: 80%;
  margin: 5% auto;
  padding: 40px 20px;
  background-color: rgba(0, 0, 0, 0.60);
  border-radius: 10px;
}

.box-temple td {
  color: #fff;
}

.box-temple td .addLink {
  cursor: pointer;
  color: #fff;
}


.box-temple td .recruInput {
  width: 20%;
  text-align: center;
}
