/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Rye&family=UnifrakturMaguntia&display=swap');

html, body {
  height: 100%;
  width: 100%;
}

.title {
  font-size: 80px;
  text-align: center;
  font-family: 'UnifrakturMaguntia', cursive;
}
