<div class="page">
  <div class="container" layout="column" layout-align="center">
    <div class="">
      <h1>Connexion</h1>
    </div>
    <div class="">
      <form>
        <input placeholder="Login" [(ngModel)]="authData.email" name="email" required>

        <input type="password" placeholder="password" [(ngModel)]="authData.password" name="password" required>
        <p align="right">
          <button (click) = "auth()" mat-raised-button color="primary">Envoyer</button>
        </p>
      </form>
      <div class="loginBottomText">
        <a href="/register">Pas encore de compte ?</a>
      </div>
    </div>
  </div>
</div>
